[submodule "crud-ex-backend-yesod"]
	path = crud-ex-backend-yesod
	url = https://github.com/rpeszek/crud-ex-backend-yesod.git
	branch = a6877b36eda7a2130139047d2c815148c4bea2d1
[submodule "crud-ex-frontend-elm"]
	path = crud-ex-frontend-elm
	url = https://github.com/rpeszek/crud-ex-frontend-elm.git
	branch = cda2976ce65cfd284ab41210b6ee11c54ebb4e43 
